/*
 * --- Right Info Sidebar CSS3 Style ---
 */

 /* Header link style */
.sidebar-header h3 a,
.sidebar-header h3 a:active,
.sidebar-header h3 a:visited {
  color: #fffeff;
  text-decoration: none;
}
.sidebar-header a:hover {
  text-decoration: underline;
}

/* Roster text style */
.info ul li {
  display: block;
  font-size: .9em;
  padding: 10px;
}