/*
 * --- Left Menu Sidebar  CSS3 Style ---
 */

/* Home/Teams/About text style */
.menu ul li a {
  padding: 15px;
  font-size: 1.1em;
  display: block;
}

/* Dropdown color */
.menu .dropdown-toggle {
  background: #001b59;
}

/* Leagues text style */
.menu .leagues a {
  font-size: 1em;
  padding-left: 30px;
  background: #001b59;
}

/* Teams text style */
.menu .teams a {
  font-size: .9em;
  padding-left: 45px;
}

/* Position dropdown toggle triangle to right */
.menu a[data-toggle="collapse"] {
  position: relative;
}
.menu .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* Submenu hover effect */
.menu a,
.menu a:hover,
.menu a:focus {
    color: inherit;
    text-decoration: none;
    transition: all .3s;
}
.menu a:hover, a:focus,
.menu .leagues a:hover, a:focus,
.menu .teams a:hover, a:focus {
  background: #a93f55;
}